@import 'normalizecss/normalize';
@import 'include-media/dist/_include-media.scss';
@import '@material/layout-grid/mdc-layout-grid';

/** 
 * Vars
 *
 * Comment in the breakpoints you want to use.
 * Make sure to adjust the generated grid classes 
 * at the bottom of this file accordingly.
 */

$breakpoints: (
	small: 0,
	// medium: 640px,
	// large: 1024px,
	// xlarge: 1200px,
	// xxlarge: 1440px,
	// galaxys5: 360px,
	// iphone5: 320px,
	iphonex: 375px,
	ipad: 768px,
);

:root {
	--mdc-layout-grid-gutter-desktop: 24px
}

/**
 * Reset
 */

html {
	box-sizing: border-box;
	font-size: 100%;
}

*,
*::before,
*::after {
	box-sizing: inherit;
}

%clearfix {
	*zoom: 1;
	&::before,
	&::after { content: " "; display: table; }
	&::after { clear: both; }
}

/**
 * Helper clearfix class
 */

.clearfix { @extend %clearfix; }

/**
 * Grid classes
 */

/** 
 * Generate column classes for breakpooints 
 * small, iphonex and ipad.
 * To add more comment in the device variables
 * at the beginning of this file. Then add the
 * corresponding col > .s-#<iterator> loops below.
 * Please ignore the 'desktop' arguments you see there.
 * mdc-layout-grid has it's own devices but we want to override
 * those with our own in order to increase flexibility.
 */

.grid {
	@extend %clearfix; 
	@include mdc-layout-grid('desktop', 0);
	padding-left: 0;
	padding-right: 0;
	&.padding {
		@include media(">0")       { padding-top: 3em; padding-bottom: 3em; }
		@include media(">iphonex") { padding-top: 6em; padding-bottom: 6em; }
		@include media(">ipad")    { padding-top: 9em; padding-bottom: 9em; }
	}
	& > .inner {
		@include mdc-layout-grid-inner('desktop',12px, 0);
		& > .col {
			@include media(">0") {
				@for $i from 1 through 12 {
					&.s-#{$i} {
						@include mdc-layout-grid-cell('desktop', $i, 0);
					}
				}
			}
			@include media(">iphonex") {
				@for $i from 1 through 12 {
					&.m-#{$i} {
						@include mdc-layout-grid-cell('desktop', $i, 0);
					}
				}
			}
			@include media(">ipad") {
				@for $i from 1 through 12 {
					&.l-#{$i} {
						@include mdc-layout-grid-cell('desktop', $i, 0);
					}
				}
			}
		}
	}
}